<header class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="profile-image rounded-circle img-fluid float-left" src="http://localhost:8080/profile.png" alt="Keir Nellyer" />
                <div class="profile-content float-left">
                    <h1 class="full-name">Keir Nellyer</h1>
                    <h2 class="job-title">Software Engineer</h2>
                    <ul class="social list-inline">
                        <li class="list-inline-item">
                            <a href="https://github.com/iKeirNez" target="_blank">
                                <i class="fa fa-github-alt"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://uk.linkedin.com/in/ikeirnez" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/iKeirNez" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-cta-primary float-right" target="_blank">
                    <i class="fa fa-paper-plane"></i> Contact Me
                </a>
            </div>
        </div>
    </div>
</header>