<div *ngIf="site">
  <site-header [title]="site.profile.name" [headline]="site.profile.headline" photoUrl="http://localhost:8080/profile.png" [links]="site.links"></site-header>
  <div class="container sections-wrapper">
    <div class="row">
      <div class="primary col-md-8 col-sm-12 col-xs-12">
        <section class="about section">
          <div class="section-inner">
            <h2 class="heading">About Me</h2>
            <div class="content">
              {{ site.profile.biography }}
            </div>
          </div>
        </section>
        <section class="section">
          <div class="section-inner">
            <app-work-experience [jobs]="site.profile.jobs"></app-work-experience>
          </div>
        </section>
        <section class="section">
          <div class="section-inner">
            <app-education [educations]="site.profile.educations"></app-education>
          </div>
        </section>
      </div>
      <div class="secondary col-md-4 col-sm-12 col-xs-12">
        <app-sidebar-info [profile]="site.profile"></app-sidebar-info>
      </div>
    </div>
  </div>
  <site-footer></site-footer>
</div>
