<site-header></site-header>
<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="about section">
        <div class="section-inner">
          <h2 class="heading">About Me</h2>
          <div class="content">
            {{ profile.biography }}
          </div>
        </div>
      </section>
      <app-layout-section>
        <app-work-experience jobs="profile.experiences"></app-work-experience>
      </app-layout-section>
      <section class="experience section">
        <div class="section-inner">
          <h2 class="heading">Education</h2>
          <div class="content">
            <div class="item">
              <!-- TODO QA -->
              <h3 class="title">Software Development (HND)
                <span class="place">
                  <a href="http://www.fife.ac.uk/" target="_blank">Fife College</a>
                  - Priory/St. Brycedale Campus</span>
                <span class="year">(August 2015 - June 2017)</span>
              </h3>
              <p>
                Covered many aspects of software design, troubleshooting and implementation as well as project planning. During this time
                I experimented with many languages and technologies including C++, MySQL, PHP, JavaScript, Java and JSP amongst
                others. I completed the course with a grade A.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <aside class="info aside section">
        <div class="section-inner">
          <h2 class="heading sr-only">Basic Information</h2>
          <div class="content">
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-fw fa-map-pin"></i>
                <span class="sr-only">Location: </span>Dunfermline, UK</li>
              <li>
                <i class="fa fa-fw fa-briefcase"></i>
                <span class="sr-only">Company:</span>
                <a href="http://www.airts.co.uk/" target="_blank">Airts</a>
              </li>
              <li>
                <i class="fa fa-fw fa-key"></i>
                <span class="sr-only">PGP: </span>
                <a href="https://keybase.io/keir_nellyer" target="_blank">279B 64A7 971B 4FF4</a>
              </li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
<site-footer></site-footer>
